@for $i from 1 through 100 {
    .w-percent-#{$i} {
        width: #{$i}#{'%'};
    }
}

$tableHeadBg      : #cdccca;
$tableBorderColor : #a9a9a7;
$primary          : #bd93f9;
$danger           : #ff5555;
$dark             : #282a36;
$gray             : #44475a;
$white            : #f8f8f2;
$blue             : #6272a4;
$orange           : #ffb86c;
$yellow           : #f1fa8c;
$green            : #50fa7b;
$blueOcean        : #8be9fd;
$purple           : #bd93f9;
$pink             : #ff79c6;